.icon-add {
    background-image: url(../img/add.png) !important;
}

.icon-delete {
    background-image: url(../img/delete.png) !important;
}

.icon-delete {
    background-image: url(../img/delete.png) !important;
}

.icon-action-margin {
    margin-left: 5px !important;
}

.upload-icon {
    background: url('../img/image_add.png') no-repeat 0 0 !important;
}

/* Icons */
.ux-notification-icon-information {
    background-image: url('../img/attach.png');
}

.ux-notification-icon-error {
    background-image: url('../img/error.png');
}

.ux-notification-light {
    background-image: url('../img/fader.png');
}

/* Using standard theme */
.ux-notification-window .x-window-body {
    text-align: center;
    padding: 15px 5px 15px 5px;
    width: 200px;
}
.ux-notification-light .x-window-header-default,.ux-notification-window .x-window-header-default {
     border: 0px !important;
 }

.ux-notification-light .x-window-header-text,.ux-notification-window .x-window-header-text {
     color: #333f49;
 }

.ux-notification-light .x-tool-close,.ux-notification-window .x-tool-close{
    background: url("../img/cross.gif");
}


/* Custom styling */
.ux-notification-light .x-window-header {
    background-color: transparent;
}


.ux-notification-light .x-window-body {
    text-align: center;
    padding: 15px 5px 18px 5px;
    width: 200px;
    background-color: transparent;
    border: 0px solid white;
}


.x-view-selector {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    border: 1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
    zoom: 1;
    background-color: #c3daf9;
    border-color: #3399bb;
}

.ext-strict .ext-ie .x-tree .x-panel-bwrap {
    position: relative;
    overflow: hidden;
}

.x-progress.x-swfupload-progress {
    height: 19px;
    font-size: 8px;
    border: 1px solid #686868;
    padding: 0 2px 0 2px;
}

.ext-strict .x-progress .x-swfupload-progress {
    height: 17px;
}

.x-swfupload-progress .x-progress-bar {
    height: 17px;
    border: none;

}

.ext-strict .x-swfupload-progress .x-progress-bar {
    height: 15px;
}

.x-swfupload-progress .x-progress-text {
    font-size: 10px;
    font-weight: bold;
    /*height: 16px;
    line-height: 16px;*/
}

.x-button {
    background-image: url("../img/delete.png");
    border: 0;
    float: right;
    cursor: pointer;
    height: 16px;
    width: 16px;
}