
.bb-custom-wrapper { width: 210px; position: relative; text-align: center; }

.bb-custom-wrapper .bb-bookblock { box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6); }

.bb-custom-wrapper h3 { font-size: 1.4em; font-weight: 300; margin: 0.4em 0 1em; }

.bb-custom-wrapper nav { width: 100%; height: 20px; position: relative; z-index: 0; text-align: center; margin: 0; padding: 0;  top:-10px;}

.bb-custom-wrapper nav a { display: inline-block; width: 30px; height: 20px; text-align: center; border-radius: 2px; background: #72b890; color: #fff; font-size: 0; margin: 2px; }

.bb-custom-wrapper nav a:hover { opacity: 0.6; }

/*.bb-custom-icon:before {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;
	line-height: 30px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
	content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
	content: "\e003";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}*/

/* No JS */

.no-js .bb-custom-wrapper { height: auto; }

.no-js .bb-custom-content { height: 470px; }
