@charset "utf-8";

/* CSS Document */
.campaign_main{height: 1447px; background:url(../images/campaigns/campaign-bg.jpg) no-repeat;  margin-top:15px; border: 0px;}
.campaign_time{background: url('../images/campaigns/campaign-time.png') no-repeat;margin:35px 0 0 145px;height: 85px;}
.campaign_teleplay{}

.campaign_teleplay img{margin: 5px;}
