@charset "utf-8";
/* CSS Document */
li,a{margin:0; padding:0;}
.minsitebg1{background:url(../img/summer/minsitebg01.png) top left no-repeat;}
.minsiteword{background:url(../img/summer/minword.png) 290px 30px no-repeat; width:920px; padding:0px 20px 3px 20px;}
.minpv-l{float:left; padding-top:135px; padding-left:80px;}
.mainpv-r{float:right; width:330px; padding-top:240px;}
.minsitebg2{background:url(../img/summer/minsitebg02.png) top left no-repeat; height:647px;}
.minword2{width:740px; margin:0 auto; padding-top:35px;}
.minword2 p.timedatep{font-size:15px; font-weight:bold; line-height:20px; margin:5px 0px;}
.mainword1tip{background:url(../img/summer/mintip.png) top left repeat-x; height:15px; clear:both; margin:8px 0px;}
.minword2-l{float:left; width:380px;}
.minword2-l p{font-size:12px; margin:7px 0px; line-height:20px;}
.minword2-l p a{color:#0080C0; margin:0px 2px; text-decoration:underline;}
.minword2-r{float:right; width:340px;}
.minword2-r p{line-height:22px; margin:6px 0px; padding-left:5px; font-size:12px;}
.minword2-r p.aboutmin{font-size:15px; margin:6px 0px;}

.show-min1{background:url(../img/summer/minsitebg03.png) top left repeat-x; margin-top:10px;}
.show-min1 ul{width:903px; margin:0 auto; padding-top:20px;}
.show-min1 ul li{float:left;}

.show-min2{background:url(../img/summer/minsitebg04.png) top left repeat-x; padding:0px 20px 0px 20px;}
.show-min2 .showword{background:url(../img/summer/min-titlebg.png) 5px 8px no-repeat; padding-bottom:40px;}
.show-min2 .showword ul{ width:901px; margin:0 auto;}
.show-min2 .showword li{float:right;}

.show-min3{background:url(../img/summer/minsitebg05.png) top left repeat-x;}
.show-min3 ul{width:903px; margin:0 auto; padding-top:10px;}
.show-min3 ul li{margin:5px; float:left; position:relative;}
.show-min3 ul li a {display: block;margin-bottom:0;  position:relative;}
.show-min3 ul li a img {margin: 2px;padding: 6px 6px; background:#FFFFFF; border: 1px solid #ccc;}
.show-min3 ul li strong {display: block;text-align: center; font-size:13px; margin:3px 0px; position:relative; padding:5px 0px;}
.show-min3 ul li strong  a{ color:#0080C0; font-weight:normal;}
.show-min3 ul li strong em{position:absolute; top:-4px; right:5px;}
.show-min3 ul li p {color: #111111;font-size: 13px;line-height: 18px; padding-left: 10px;}
.show-min3 ul li p span {display: block;}

.page-nation {padding:10px; text-align:right;}
.page-nation a,.page-nation strong{margin: 0 4px;font-size: 13px;}
