@charset "utf-8";

/* CSS Document */
.summer_main{width:910px; margin:0 auto;background:url(../images/campaigns/campaign-bg.jpg) no-repeat; padding:0px 25px; margin-top:15px; padding-bottom:30px;}
.main_l{float:left; width:620px;}
.main_r{float:right; width:270px; padding-top:20px;}
.titleDiv,.dateDiv,.addcam,.fetchDiv{float:left; width:100%; clear:both;}
.titleDiv{height:185px;}
.titleDiv .titletips{float:left; width:397px; height:93px;}
.titleDiv p{float:left; width:367px;}
.titleDiv p,.dateDiv p,.addcam p,.fetchDiv p{color:#2d4198; font-size:15px; padding-left:30px; line-height:24px; font-weight:bold;}
.datelist{float:left; width:212px; background:#fff; height:140px; margin-top:5px;}
.dateDiv{background:url(../img/summer_2014/layoutKV_08.png) right no-repeat;}
.dateDiv h2,.addcam h2{color:#b81c22; font-size:18px; background:url(../img/summer_2014/h2bg.png) left no-repeat; padding-left:30px; margin:10px 0px; clear:both;}
.dateDiv h2 span{font-size:13px;}
.addcam p{margin:2px 0px;}
.fetchDiv{padding-left:0px; width:620px;}
.fetchDiv p{float:left; width:165px; font-size:14px; line-height:20px;}
.fetchDiv p span{display:block; text-align:center; width:160px;}

.videshow{width:270px; height:150px; margin:5px 0 10px 0px; float:right; overflow:hidden;}
.Tvbctem{border:solid 1px #254c9f; padding:8px 0px 4px 0px; background:#fff; text-align:center; clear:both;}
.Tvbctem li{margin:1px 0px;}
.Tvbctem p{text-align:right;}
.Tvbctem p a{color:#2d4198; font-size:13px; line-height:24px; font-weight:bold; padding-right:15px;}


.show-min{width:960px; margin:0 auto;margin-top:15px;}
.show-min1{width:900px; margin:0 auto;background:url(../images/campaigns/campaign-list-bg.jpg) top no-repeat; padding:0px 25px 0px 35px; float:left; height:1230px; padding-top:30px;}
.show-min1 table{border: 0;margin:20px 0 0 10px;border-collapse:collapse;border-spacing:0;}
.show-min1 table td {
    padding:0;
    vertical-align: top;
}

.kvlist-l{float:left; margin: 20px 0 0 10px;}
.kvlist-l img{float:left;}
.kvlist-l a img,.kvlist-l a{margin:0; padding:0;}
.kvlist-r{float:left; width:378px;}
.show-min1{float:left; margin-top:15px;}
.show-min2{background:url(../images/campaigns/campaign-list-tel-bg.jpg);}

.show-min2 ul{width:903px; margin:0 auto; padding-top:10px;}

.show-min2 ul li{margin:5px; float:left; position:relative;}

.show-min2 ul li a {display: block;margin-bottom:0;  position:relative;}

.show-min2 ul li a img {margin: 2px;padding: 6px 6px; background:#FFFFFF; border: 1px solid #ccc;}

.show-min2 ul li strong {display: block;text-align: center; font-size:13px; margin:3px 0px; position:relative; padding:5px 0px;}

.show-min2 ul li strong  a{ color:#0080C0; font-weight:normal;}

.show-min2 ul li strong em{position:absolute; top:-4px; right:5px;}

.show-min2 ul li p {color: #111111;font-size: 13px;line-height: 18px; padding-left: 10px;}

.show-min2 ul li p span {display: block;}

.page-nation {
    margin: 10px;
    padding: 10px;
    text-align: right;
}