@charset "utf-8";

/* CSS Document */



body { font-family: "Microsoft YaHei" ! important; font-size:13pt; }

body, h1, h2, h3, h4, p, ul, li, dl, dt, dd, p, from, label { margin:0; padding:0; }

body { background:url(../images/bodybg.png) top repeat-x; }

.bgcon { background:url(../images/megbg.png) top no-repeat; max-width:1500px; margin:0 auto; }

.indexcon { background:#d6d8dd url(../images/indexbg.png) top no-repeat; max-width:1500px; margin:0 auto; }

ul, li { list-style:none; }

img { border:none; }

a { color:#333; text-decoration:none; }

a:hover { text-decoration:underline; }

i, em { font-style:normal; }

.clearboth { clear:both; }

.logoDiv, .webfx a, .navDiv, .navDiv li a, .newslist li, .searchNews h3, .newshow .newsMeg, .navDiv li ul.secondul li a, .magicCon h2, .magicCon li, .magicshow .jujilistDiv a, .magicshow h3, .magicshow ul.jjpicshow, .pepshow .manDiv, .pepshow .womanDiv, .adlistDiv dl,.regMegDiv,.regDiv-l p input.loginbtn,.regDiv-r p input.loginbtn,.regsucDiv,.regsucDiv input,.forgetDiv p input.blankstep,.webfx a.iTVBlink{ background:url(../images/tvbcbgimg.png) no-repeat top left; }

.hidenstyle { display:none; }

/******index*******/



.indexflashDiv { clear:both; margin: 10px auto; padding: 0; width: 960px; }

/*slider*/



#slider { width:100%; padding-top:8px; }

.slider_box { width:960px; margin:0 auto; height: 366px; overflow:hidden; position: relative; }

.silder_tip { width: 92px; height: 92px; overflow: hidden; position: absolute; top: 0; right: 0; z-index:1; text-indent:-999px; background:url(../images/tip-tt.gif) no-repeat; }

#movie_tip { background-position: -93px 0; }

.silder_con { height:366px; overflow: hidden; position: absolute; }

.silder_panel { width:960px; height:366px; overflow: hidden; float: left; position: relative; background: #111; }

.silder_panel img { width: 960px; height: 366px; display: block; overflow: hidden; }

.silder_play { display: block; width:136px; height:30px; overflow: hidden; text-indent: -999px; position: absolute; bottom: 13px; right: 45px; background: url(../images/silder-play.png) 0 -30px no-repeat; }

.silder_play:hover { background-position: 0 0; }

.silder_nav { width:900px; height:58px; margin: 0 auto; bottom:30; left:60px; position: absolute; overflow: hidden; top: 260px; }

.silder_nav li { float: left; padding:0px; border:1px solid #fff; margin:2px; }

.silder_nav li.current { border:3px solid #7acf39; margin:0 4px; }

.silder_nav li, .silder_nav img { display: block; width:112px; height:48px; overflow: hidden; }

.slider_box a.prev, .slider_box a.next { display: block; width:45px; height:100px; overflow:hidden; text-indent: -999px; position: absolute; cursor: pointer; margin:125px 0 0 0; background: url(../images/silder_btn.gif) no-repeat; }

.slider_box a.prev { left:0; background-position: left 0; }

.slider_box a.next { right:0; background-position: right 0; }

.silderBox { height:8px; line-height:8px; display:none; }

.indeximg { clear:both; width:960px; margin-top:25px; }

.indeximg li { float:left; margin-right:20px; }

.indeximg li.erweima { float:right; margin-right:0px; }

.indeximg li.erweima span { float:left; display:block; width:115px; font-size:12px; color:#006dbb; line-height:20px; padding-top:10px; }

.indeximg li.erweima span a { color:#006dbb; display:block; font-weight:bold; font-size:14px; }

/************/







.megCon { width:960px; margin:0 auto; padding-top:40px; }

.headerDiv { float:left; width:100%; }

.logoDiv { float:left; width:142px; height:56px; }

.webfx { float:right; height:25px; padding-top:26px;margin-right: 30px; }

.webfx a { display:block; float:left; height:25px; margin:0px 3px; }

.webfx a.loginlink{font-size:13px; background:none; line-height:25px; padding-top:5px; font-weight:bold; color:#065895;}

.webfx a.gw { background-position:-152px -31px; }

.webfx a.websina { background-position:-188px -30px; }

.webfx a.erwimalink { background-position:-220px -30px; }

.webfx a.erwimalink { background-position:-220px -30px; }

.webfx a.erwimalink .erweima{position:absolute; z-index:9999; display:none; font-size:12px; color:#f60; line-height:22px;}

.webfx a.erwimalink:hover .erweima{ display:block;}

.webfx a.iTVBlink { background-position:-248px -30px; }

.webfx a.iTVBlink { background-position:-248px -30px; }

.webfx a.iTVBlink .iTVB{position:absolute; z-index:9999; display:none; font-size:12px; color:#f60; line-height:22px;}

.webfx a.iTVBlink:hover .iTVB{ display:block;}

.webfx span{float:left; color:#0f5178; font-size:12px; margin:8px 3px 0px 3px; font-weight:bold;}

.navDiv { clear:both; float:left; width:100%; background-position:0px -56px; width:960px; height:41px; margin:3px 0px; padding:2px 0 0 0; margin:15px 0 0 0; }

.navDiv ul { width:auto; margin:0 auto; padding-left:50px; }

.navDiv li { float:left; width:120px; height:37px; margin:0px 1px; }

.navDiv li a { display:block; }

.navDiv li a.homepage { background-position:0px -103px; }

.navDiv li a.newspage { background-position:-125px -103px; }

.navDiv li a.aboutpage { background-position:-250px -103px; }

.navDiv li a.magicpage { background-position:-375px -103px; }

.navDiv li a.personpage { background-position:-500px -103px; }

.navDiv li a.adpage { background-position:-625px -103px; }

.navDiv li a.jionpage { background-position:-750px -103px; }

.navDiv li a.homepage:hover, .navDiv li.selectNavli a.homepage { background-position:0px -148px; }

.navDiv li a.newspage:hover, .navDiv li.selectNavli a.newspage { background-position:-125px -148px; }

.navDiv li a.aboutpage:hover, .navDiv li.selectNavli a.aboutpage { background-position:-250px -148px; }

.navDiv li a.magicpage:hover, .navDiv li.selectNavli a.magicpage { background-position:-375px -148px; }

.navDiv li a.personpage:hover, .navDiv li.selectNavli a.personpage { background-position:-500px -148px; }

.navDiv li a.adpage:hover, .navDiv li.selectNavli a.adpage { background-position:-625px -148px; }

.navDiv li a.jionpage:hover, .navDiv li.selectNavli a.jionpage { background-position:-750px -148px; }

.navDiv li ul.secondul { position: absolute; visibility: hidden; width:120px; margin:0; padding:0; padding-top:1px; z-index:99999; }

.navDiv li ul.secondul li { float: none; display:inline; margin:0; padding:0; width:120px; }

.navDiv li ul.secondul li a { width: 120px; color: #fefefe; background-position:0px -225px; height:32px; line-height:32px; text-align:center; margin:0px 0px; font-size:14px; }

.navDiv li ul.secondul a:hover { background-position:0px -192px; text-decoration:none; }

/*****news list*******/



.l-Div { float:left; width:650px; }

.newslist, .searchNews, .aboutCon { padding-top:15px; }

.newslist li, .newshow .newsMeg { clear:both; padding:10px 0px; background:url(../images/linebg.png) bottom repeat-x; margin-top:6px; }

.newslist li img { margin-bottom:8px; }

.newslist h2 { font-size:22px; line-height:32px; padding:0px 6px; }

.newslist span { color:#898989; font-size:13px; line-height:30px; padding:0px 6px; }

.newslist p { font-size:12px; line-height:25px; color:#221815; padding:0px 6px 15px 6px; }

.newslist .tagDiv { float:left; height:24px; line-height:24px; padding:0px 6px; width:638px; color:#999; font-size:12px; }

.newslist .tagDiv i, .newslist .tagDiv strong { float:left; }

.newslist .tagDiv strong { font-weight:normal; }

.newslist .tagDiv a { float:right; }

.redcor { color:#c7000b; }

.r-Div { float:right; width:270px; }

.searchNews h3 { background-position:-250px 0px; height:24px; line-height:24px; color:#f3f3f3; padding-left:10px; font-size:12px; margin:17px 0px 0px 0px; font-weight:normal; }

.searchMeg { padding:20px 0px 10px 10px; }

.searchMeg input { border:solid 1px #dbdbdb; line-height:22px; height:22px; }

.searchMeg input.typetext { padding-left:5px; width:180px; }

.searchMeg input.searchbtn { line-height:26px; height:26px; font-size:13px; }

.hotnewsDiv { padding:10px 0px 0px 5px; }

.hotnewsDiv li { border-left:solid 3px #ccc; margin:6px 0px; padding-left:6px; line-height:20px; }

.hotnewsDiv li a { color:#333; font-size:14px; }

.footDiv { text-align:center; clear:both; line-height:32px; margin:10px 0px; font-size:12px; color:#333; font-family:Arial; }

/****** news show**********/



.newshow { clear:both; padding-top:25px; position:relative; }

.newshow h1 { text-align:center; font-size:26px; }

.fxDiv { position:absolute; left: 773px; top: 14px; width: 187px; }

.newshow .newsMem { text-align:center; color:#666; font-size:12px; margin:10px 0px; line-height:22px; }

.newshow .newsMem span { margin:0px 6px; }

.newshow .newsMeg { padding-top:20px; background-position:top; text-align: justify; }

.newshow .newsMeg img { display:block; text-align:center; margin:0 auto; }

.newshow .newsMeg p { font-size:13pt; line-height:28px; margin:8px 0px; }

/**** about ***/



.aboutCon .videoDiv { text-align:center; }

.aboutCon .aboutMeg h2 { font-size:25px; margin:25px 0px; }

.aboutCon .aboutMeg p { margin:10px 0; padding:0 8px; line-height:24px; font-size:13px; text-indent:2em; text-align: justify; }

.aboutCon .aboutMeg .bluecor { color:#006cb8; }

.aboutCon .aboutMeg p strong { font-weight:normal; }

.aboutCon .aboutMeg h3 { font-size:15px; font-weight:normal; padding:15px 6px; }

.aboutCon .aboutMeg h4 { font-size:14px; font-weight:normal; padding:10px 6px; }

.aboutMapDiv, .magicCon, .magicshow, .personlist, .pepshow, .adlistDiv, .adshow2Div, .jionusDiv,.regDiv,.caseshow{ clear:both; padding-top:25px; }

.aboutMapDiv .mapDiv { background:url(../images/bjbg.png) bottom left no-repeat; vertical-align:top; height:526px; padding-top:25px; position:relative; }

.area1 { position:absolute; width:50px; height:56px; left: 691px; top: 144px; cursor:pointer; }

.area2 { position:absolute; width:50px; height:56px; left: 812px; top: 219px; cursor:pointer; }

.area3 { position:absolute; width:50px; height:56px; left: 703px; top: 320px; cursor:pointer; }

.aboutMapDiv .map2Div { background:url(../images/newbg6.png) bottom left no-repeat; vertical-align:top; height:526px; padding-top:25px; position:relative; }

.aboutMapDiv .map3Div { background:url(../images/gzbg.png) bottom left no-repeat; vertical-align:top; height:526px; padding-top:25px; position:relative; }

.aboutMapDiv .mapDiv h2, .aboutMapDiv .map2Div h2, .aboutMapDiv .map3Div h2 { font-size:24px; margin-bottom:3px; }

.aboutMapDiv .mapDiv span, .aboutMapDiv .map2Div span, .aboutMapDiv .map3Div span { margin-right:10px; }

.aboutMapDiv .mapDiv p, .aboutMapDiv .map2Div p, .aboutMapDiv .map3Div p { line-height:20px; font-size:13px; color:#111; }

/******* magic list ******/



.magicCon h2 { width:168px; height:33px; margin-bottom:5px; }

.magicCon h2.hotmytv { background-position:-126px -192px; }

.magicCon h2.newmytv { background-position:-315px -192px; }

.magicCon h2.bestmytv { background-position:-532px -192px; }

.magicCon h2.tvbcmytv { background-position:-717px -192px; }

.magicCon li {float:left; padding:5px 8px 10px 8px; background-position:0px -264px; position:relative;}

.magicCon li a { display:block; margin-bottom:0px; }

.magicCon li a img { margin:2px; padding:10px 10px 3px 10px;}

.magicCon li strong {display:block; text-align:center; position:relative; text-align:center; padding:3px 0px;}

.magicCon li strong a { color:#006cb8; font-size:14px; font-weight:normal; overflow:hidden;}

.magicCon li strong em{position:absolute; top:-3px; right:5px;}

.magicCon li p { line-height:18px; color:#111; font-size:13px; padding-left:10px; }

.magicCon li p span { display:block; }

.magicshow .l-pic { float:left; width:410px; }

.magicshow .r-meg { float:right; width:520px; }

.magicshow .magicMeg { position:relative; }

.magicshow .magicMeg h2 { font-size:26px; color:#c7000b; padding:4px 0px 6px 0px; }

.magicshow .magicMeg dl { clear:both; width:100%; float:left; font-size:12px; line-height:22px; }

.magicshow .magicMeg dl dt { float:left; width:40px; }

.magicshow .magicMeg dl dd { float:right; width:470px; padding-right:5px; }

.magicfx { position:absolute; left: 305px; top: 10px; width: 257px; }

.magicshow h3, .magicshow ul.jjpicshow { font-size:20px; line-height:32px; clear:both; padding:15px 0 5px 0; background-position:0px -264px; margin-top:25px; color:#c7000b; }

.magicshow .jujilistDiv a { display:block; float:left; background-position:-134px -228px; width:62px; height:28px; line-height:28px; text-align:center; color:#0080C0; margin:2px 5px; font-size:13px; }

.magicshow ul.jjpicshow li { float:left; }

.magicshow ul.jjpicshow li a { display:block; }

.magicshow ul.jjpicshow li a img { margin:4px; padding:4px; border:solid 1px #ccc; }

/******** person list **********/



.personlist ul { padding-left:5px; padding-bottom:25px; }

.personlist li { float:left; margin:6px 6px; border:solid 1px #ccc; width:101px; height:153px; overflow:hidden; position:relative; z-index:5; }

.personlist li.pepMeb { background:#004e97; font-size:101px; vertical-align:text-bottom; text-align:right; color:#fff; font-family:Arial; padding-top:45px; height:35px; height:108px !important; }

.personlist li .personName { position:absolute; bottom:0; left:0; z-index:3; background:#333; filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7; font-size:15px; color:#fff; text-align:center; padding:5px 0px; width:101px; }

.personlist li .personName span { color:#ccc; font-size:12px; margin-left:5px; }

.pepshow .l-pep { float:left; width:520px; }

.pepshow .r-pep { float:right; width:440px; }

.pepshow .manDiv { background-position:0px -504px; height:680px; }

.pepshow .womanDiv { background-position:0px -1188px; height:680px; }

.pepshow .r-pep h2 { text-align:right; margin:12px; color:#fff; font-size:40px; padding-top:5px; }

.pepshow .pepMeg { line-height:24px; color:#fff; font-size:13px; padding:20px; margin-bottom:20px; }

.pepshow .manMeg { background:#343e4e; }

.pepshow .womanMeg { background:#824349; }

.pepshow .pepMeg .pepMorepic { padding:8px 0px; }

.pepshow .pepMeg .pepMorepic img { vertical-align:top }

.pepshow .weiboDiv { padding-left:20px; color:#eee; font-size:14px; }

.pepshow .weiboDiv a { color:#fff; font-size:15px; }

/**********ad list *********/



.adlistDiv h2, .adshow2Div h2, .jionusDiv h2,.regDiv h2,.caseshow h2{ font-size:28px; font-family:"Microsoft YaHei"; color:#0080C0; }

.adlistDiv dl{ float:left; width:960px; clear:both; margin:5px 0px 10px 0; padding:30px 0px 10px 0; background-position:0px -266px; }

.adlistDiv dl dt { float:left; width:161px; margin-right:15px; padding-left:5px; }

.adlistDiv dl dd { float:right; width:720px; }

.adlistDiv dl dd h3 a { color:#0080C0; font-size:26px; }

.adlistDiv dl dd h3 { padding:10px 0; }

.adlistDiv dl dd p { padding:8px 0px 0px 15px; font-size:13px; line-height:22px; }

.adlistDiv .adClass { float:left; width:950px; clear:both; padding-top:15px; padding-left:10px; padding-bottom:15px; }

.adlistDiv .adClass li { float:left; width:228px; font-size:13px; line-height:23px; }

.adcontant { padding-left:10px; font-size:13px; line-height:32px; padding-bottom:35px; padding-top:15px; }

.adlistshow2 { text-align:center; }

.adlistshow2 img { display:block; margin:0 auto; text-align:center; margin-bottom:10px; }

.adlistshow2 p { font-size:13px; padding:8px 0px; }

.adlistshow2 p span { color:#f00; }

.showadMeg { float:left; width:960px; clear:both; margin:15px 0; padding:15px 0; }

.showadMeg img { float:left; margin-right:15px; }

.showadMeg h3 { color:#0080C0; font-size:26px; margin:10px 0; }

.showadMeg p { line-height:22px; font-size:13px; }

.showadMeg p img { float:none; margin-top:10px; }

/******jion us ****/



.jionusDiv h3 { font-size:20px; margin:20px 0 10px 0; font-weight:normal; }

.jionusDiv p { padding-bottom:20px; font-size:13px; line-height:22px; }

.jionusDiv .layout p{padding-bottom:2px;}

.cityDiv, .workDiv { padding:25px 0px; }

.cityDiv input, .workDiv input { padding:0px 17px; background:#999; color:#333; border:none; line-height:32px; cursor:pointer; border-radius:4px; }

.cityDiv input.selectinput, .workDiv input.selectinput { color:#333; background:#fff; }

.cityDiv input { padding:0px 50px; letter-spacing:2px; }

.workClass { }

.workClass h2 { margin-bottom:10px; }

.workClass p { line-height:24px; margin:0px; padding:0px 10px; }





/******** reg page ************/

.regMegDiv,.regsucDiv{float:left; width:960px; clear:both; margin:5px 0px 10px 0; padding:30px 0px 10px 0; background-position:0px -1911px; }

.regDiv h2{padding-left:5px;}

.regDiv-l{float:left; width:450px;}

.regDiv-l h3,.regDiv-r h3{font-size:16px; margin:5px 0px; padding-left:10px;}

.regDiv-l p,.regDiv-r p{font-size:15px; margin:10px 0px; padding-left:10px; line-height:26px;}

.regDiv-l p input,.regDiv-r p input{margin:3px 0px; border:solid 1px #ccc; line-height:28px; height:28px; padding-left:6px; width:240px;}

.regDiv-l p.regWord,.regDiv-r p.regWord{ margin:20px 0px;}

.regDiv-r p label input{width:auto; vertical-align:top; height:auto; line-height:inherit; padding:0px; border:none;}

.regDiv-l p input.loginbtn,.regDiv-r p input.loginbtn{width:63px; text-align:center; color:#222; font-size:14px; height:28px; line-height:28px; background-position:-221px  -229px; border:none; cursor:pointer;}

.regDiv-r p em{margin-right:4px; color:#f00;}

.regDiv-r p select{margin:0; border:solid px #ccc; line-height:28px; height:21px; }

.regDiv-r{float:right; width:470px;}

.regMegDiv .aboutMem{clear:both; padding-top:10px; padding-left:5px;}

.regMegDiv .aboutMem h3{font-size:15px; margin:3px 0px;}

.regMegDiv .aboutMem p{line-height:24px; font-size:14px;}



.regsucDiv,.forgetDiv{text-align:center; padding:120px 0px; min-height:300px;}

.regsucDiv h2{color:#f00; font-size:18px; margin:20px 0px;}

.regsucDiv input,.forgetDiv p input.blankstep{background-position:-290px -229px; width:119px; border:none; cursor:pointer; font-size:14px; height:28px; line-height:22px; }

.forgetDiv h3{font-size:16px;}

.forgetDiv p{text-align:left; width:240px; margin:0 auto; padding-left:10px; line-height:26px; margin-bottom:8px; margin-top:8px;}

.forgetDiv p input{margin:3px 0px; border:solid 1px #ccc; line-height:28px; height:28px; padding-left:6px; width:240px; text-align:left;}

.forgetDiv p strong{color:#900;}



.caseshow h2 span{font-size:18px;}

.caseshow h2{margin-bottom:15px;}

.caseshow p{position:relative;}

.caseWordDiv{padding:8px 15px; position:absolute; background:url(../images/caseshowbg.png) repeat-x; width:930px; font-size:14px; line-height:22px;}

.caseshow  ul{float:left; width:955px; position:relative; padding-left:3px;}

.caseshow li{float:left; position:relative; margin:7px 0px; width:300px; height:194px; overflow:hidden;}

.caseshow li.middlelipic{margin:7px 25px;}

.caseshow li.middlelipic h2{background:#F60; line-height:194px; color:#fff; font-size:32px; text-align:center;}

.caseshow li a{display:block; position:relative;}

.caseshow li a span{ display:block; position:absolute; bottom:0px; color:#fff; background:url(../images/case_bottombg.png) repeat-x; width:100%; font-size:13px; line-height:28px;}